
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-image {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    filter: brightness(70%);
}
.header-image h1 {
    position: absolute;
    bottom: 25px;
    left: 150px;
    color: white;
    font-size: 3.5rem;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.contact-content {
    max-width: 1000px;
    padding: 2rem;
    text-align: center;
    margin-top: 4rem;
}
.contact-content h3 {
    font-size: 2.8rem;
    color: var(--highlight);
    margin-bottom: 2rem;
    color: #d60909;
}
.contact-content p {
    margin-bottom: 6rem;
    font-size: 1.5rem;
    color: #000;
}

.phoneno-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}
.phoneno {
    background-color: rgba(196, 194, 194, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.733);
    padding: 2.5rem 0 0 0;
    width: 250px;
    border-radius: 8px;
    transition: transform 0.3s;
    text-align: center;
    margin-bottom: 4rem;
    border-bottom: 4px solid #ff0404;
}
.phoneno:hover {
    transform: scale(1.05);
}
.phoneno i {
    font-size: 3rem;
    color: #fc0a0a;
    margin-bottom: 0.5rem;
}
.phoneno h4 {
    /* color: var(--highlight); */
    color: #000000;
    font-size: 25px;
    margin: 0.5rem 0;
}
.phoneno p{
    font-size: 20px;
    margin-bottom: 1rem;
}

.map {
    margin-top: 2rem;
}
.map h2 {
    color: #000;
    margin-bottom: 3rem;
    font-size: 35px;
    width: 40%;
    margin-left: 30%;
    box-shadow: 0px 4px #fc0a0a;
    /* border-radius: 10px; */
    padding: 5px 0;
    /* border-bottom: 4px solid #A00000; */
}
.map iframe {
    width: 100%;
    max-width: 800px;
    height: 500px;
    border: 2px white;
    border-radius: 10px;
}
