/* ======= login form css part ======== */
.start_div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form{
    display: flex;
    margin: 100px 150px;
    background-color: #000;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgb(125, 121, 121);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Times New Roman;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}
.image_login{
    width: 250px;
    height: 250px;
    margin-right: 20px;
    img{
        width: 100%;
        height: 100%;
    }
}
.login_part{
    border-left: 4px solid #fa2727;
    padding: 20px 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(125, 121, 121);
}
.login_part .para{
    color: rgb(255, 0, 0);
    border-radius: 5px;
    background-color: rgb(234, 255, 97);
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
h2{
    /* text-align: center; */
    /* font-size: 40px; */
    /* margin: 20px 0; */

}
.login_part label{
    width: 250px;
    display: block;
    margin-top: 10px;
    font-weight: 500;

}
.login_part input{
    background-color: rgba(255, 255, 255, 0.5);
    width: 95%;
    text-align: left;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.login_part button{
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #f31111db;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25%;
    font-family: Perpetua Titling MT;
    font-weight: 700;
}
.login_part a {
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
}
.login_part button:hover {
    background-color: #000000;
}
.login_part p {
    margin-top: 15px;
    font-size: 0.9em;
}

@media screen and (max-width:760px){
    .ccc{
        width: 60%;
        padding: 40px;
    }
}

/* ======= registration form css part ======== */

/* Main form layout */
.start_div_1{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 150px;
}
.form1 {
    padding: 20px 30px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgb(125, 121, 121);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Times New Roman;
    padding: 20px;
}

/* Logo image div */
.image1 {
    width: 500px;
    height: 250px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 70px;
        color: red;
    }
    h3{
        font-size: 40px;
        margin: 22px 15px 0 0;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
/* Sign up section layout */
.signup {
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
    border-top: 4px solid #fa2727;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(125, 121, 121);
}

/* Form heading */
.signup h1 {
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
}

/* Error paragraph */
.para {
    color: rgb(255, 0, 0);
    border-radius: 5px;
    background-color: rgb(234, 255, 97);
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    font-weight: 550;
}

/* Half labels layout (using grid) */
.signup .form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

/* Inputs and labels styling */
.signup label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.contact_detail input[type="tel"],
.signup input[type="text"],
.signup input[type="email"],
.signup input[type="tel"],
.signup input[type="password"],
.signup input[type='number'],
.signup textarea,
.signup select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    background-color: rgba(185, 183, 183, 0.605);
}

.signup input[type="radio"] {
    margin:15px 10px 0 15px;
    background-color: #007BFF;
    
}


/* Buttons */
.but{
    text-align: end;
}
.signup button {

    background-color: #007BFF;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    justify-content: center;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    font-family: Perpetua Titling MT;
    font-weight: 700;
}

.signup button[name="Cancel"] {
    background-color: #dc3545;
    a{
        text-align: center;
        color: #ffffff;
    }
}

.signup button:hover {
    background-color: #000000;
}

.signup a {
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
}
/* Footer link */
.signup p {
    text-align: start;
    margin-top: 20px;
}

@media screen and (max-width:700px){
    .log{
        width: 60%;
        padding: 40px;
    }
}